fastapi
uvicorn[standard]
pydantic
python-dotenv
httpx
asyncio
sqlalchemy
alembic

# AI & externes API SDKs
anthropic
openai
elevenlabs
assemblyai
deepl
stability-sdk
passlib[bcrypt]

# Media Processing
moviepy
Pillow
python-jose[cryptography]
grpcio-status==1.63.2
google-generativeai
cohere
perplexipy
aiofiles
python-pptx


# FastAPI Utilities
python-multipart
jinja2
pymupdf
python-docx
openpyxl
boto3
replicate
